In [2]:
import yfinance as yf
import pandas as pd

In [3]:
Tesla = yf.Ticker("TSLA")

In [5]:
Tesla_data = Tesla.history(period = "Max")

In [6]:
Tesla_data.reset_index(inplace=True)

In [7]:
Tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0