In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
GameStop = yf.Ticker("GME")
gme_data = GameStop.history(period = 'max')
gme_data.reset_index(inplace = True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480514,6.773400,6.413184,6.766667,19054000,0.0,0.0
1,2002-02-14,6.850829,6.864295,6.682504,6.733001,2755400,0.0,0.0
2,2002-02-15,6.733003,6.749835,6.632008,6.699337,2097400,0.0,0.0
3,2002-02-19,6.665673,6.665673,6.312191,6.430018,1852600,0.0,0.0
4,2002-02-20,6.463683,6.648840,6.413185,6.648840,1723200,0.0,0.0

In [2]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")
gme_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    gme_revenue = gme_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)
gme_revenue.head()

   Date Revenue
0  2021  $5,090
1  2020  $6,466
2  2019  $8,285
3  2018  $8,547
4  2017  $7,965

In [ ]:
make_graph(gme_data,gme_revenue,'GameStop')