In [12]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\sohail corpo\appdata\local\programs\python\python310\lib\site-packages (5.5.0)

WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\SOHAIL CORPO\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: six in c:\users\sohail corpo\appdata\local\programs\python\python310\lib\site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sohail corpo\appdata\local\programs\python\python310\lib\site-packages (from plotly) (8.0.1)

In [13]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
Tesla = yf.Ticker("TSLA")
Tesla_data = Tesla.history(period = "Max")
Tesla_data.reset_index(inplace=True)
Tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [8]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text
soup = BeautifulSoup(html_data,"html.parser")
tesla_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])
for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text
    
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

tesla_revenue.head()

   Date  Revenue
0  2020  $31,536
1  2019  $24,578
2  2018  $21,461
3  2017  $11,759
4  2016   $7,000

In [22]:
make_graph(tesla_data,tesla_revenue,'Tesla')

NameError: name 'make_graph' is not defined